*{
    margin:0;
    padding:0;
    background: linear-gradient(100deg,#635ab5,#3493ca);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.todo-app h2{
    margin-top: 2cm;
    background: aliceblue;
    width: 9cm;
    padding-left: 5cm;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5cm;
}
.todo-app{
    color: black;
    margin-left: 10cm;
}
.todo-app .getvalue{
    background: aliceblue;
    width: 14cm;
    border-radius:10px;
    margin-top: 5px;
    height: 7cm;
}
.todo-app .getvalue input {
    background:#dcdee1;
    margin-left: 3cm;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5cm;
    outline: none;
    padding: 3px ;
    width: 250px;
    height: 25px;
    border: none;
}
.todo-app .getvalue button{
    background: orange;
    border-radius: 5cm;
    width: 50px;
    height: 30px;
    padding: 3px ;
    cursor: pointer;
    border: none;
}
.todo-app .getvalue button:hover{
    background: #ad74d7;
}
ul li{
    background: aliceblue;
    list-style: none;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    padding: 12px 8px 14px 90px;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-image: url(image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 50px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(image/checked.png);
}
ul li i{
    background: aliceblue;
    color: black;
    font-size: 12px;
    position:absolute;
    left: 370px;
    width: 30px;
    padding-left: 5px;
    font-style:normal;
}
ul li i:hover{
    background: #a4a4a4;
    border-radius: 5px;
}
ul li span:last-child{
    background: aliceblue;
    color: black;
    font-size: 12px;
    position:absolute;
    left: 420px;
    width: 45px;
    padding-left: 5px;
}
ul li span:last-child:hover{
    background: #a4a4a4;
    border-radius: 5px; 
}